{% extends 'base.html.twig' %}

{% block title %}Информацция по книге{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <img src="/images/{{ book.thumbnailUrl ?? 'assets/no_image.png' }}" class="img-fluid rounded-start" alt="{{ book.title }}">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    {% for author in book.author %}
                                        <a href="{{ path('author.get', {id: author.id}) }}">{{ author.name }}</a>{% if author != book.author|last %}, {% endif %}
                                    {% endfor %}
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    Категории:
                                    {% for category in book.category %}
                                        <a href="{{ path('admin.category.get', {id: category.id}) }}">{{ category.name }}</a>{% if category != book.category|last %}, {% endif %}
                                    {% endfor %}
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    Дата публикации: {{ book.publishDate|date('d.m.Y') }}<br/>
                                    ISBN: {{ book.isbn }}<br/>
                                    Количество страниц: {{ book.pageCount }}
                                </small>
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#editBookModal">
                                    Редактировать
                                </button>
                            {# Modal #}
                            <div class="modal fade" id="editBookModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form method="post" action="{{ path('admin.books.save', {id: book.id}) }}" enctype="multipart/form-data">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование книги</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="thumbnailFile" class="form-label">Выбрать файл изображения</label>
                                                    <input class="form-control" type="file" id="thumbnailFile" name="thumbnailFile" accept="image/png, image/jpeg">
                                                </div>
                                                <div class="mb-3">
                                                    Авторы
                                                </div>
                                                <div id="authorsList">
                                                    {% for book_author in book.author %}
                                                        <div class="mb-3">
                                                            <select class="form-select" name="bookAuthor[]">
                                                                <option value="0" selected>Удалить автора</option>
                                                                {% for author in authors %}
                                                                    <option value="{{ author.id }}" {% if book_author.id == author.id %}selected{% endif %}>{{ author.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="mb-3">
                                                <button type="button" class="btn btn-primary md-3" id="addAuthor">Добавить автора</button>
                                                </div>
                                                <div class="mb-3">
                                                    Категории
                                                </div>
                                                <div id="categoriesList">
                                                    {% for book_category in book.category %}
                                                        <div class="mb-3">
                                                            <select class="form-select" name="bookCategory[]">
                                                                <option value="0" selected>Удалить категорию</option>
                                                                {% for category in categories %}
                                                                    <option value="{{ category.id }}" {% if book_category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="mb-3">
                                                <button type="button" class="btn btn-primary md-3" id="addCategory">Добавить категорию</button>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="bookTitle" class="form-label">Название</label>
                                                    <input type="text" class="form-control" id="bookTitle" name="bookTitle"
                                                           value="{{ book.title }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="pageCount" class="form-label">Количество страниц</label>
                                                    <input type="number" class="form-control" id="pageCount" name="pageCount"
                                                           value="{{ book.pageCount }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="publishedDate" class="form-label">Дата публикации</label>
                                                    <input type="date" class="form-control" id="publishedDate" name="publishedDate"
                                                           value="{{ book.publishDate|date('Y-m-d') }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="bookIsbn" class="form-label">Название</label>
                                                    <input type="text" class="form-control" id="bookIsbn" name="bookIsbn"
                                                           value="{{ book.isbn }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="shortDescription" class="form-label">Краткое описание</label>
                                                    <textarea class="form-control" id="shortDescription" name="shortDescription" rows="3">{{ book.shortDescription }}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="longDescription" class="form-label">Полное описание</label>
                                                    <textarea class="form-control" id="longDescription" name="longDescription" rows="5">{{ book.longDescription }}</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ book.shortDescription|nl2br }}</p>
                            <p class="card-text">{{ book.longDescription|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#addAuthor').click(function () {
        $('#authorsList').html($('#authorsList').html() + '<div class="mb-3"><select class="form-select" name="bookAuthor[]"> \
            <option value="0" selected>Удалить автора</option> \
        {% for author in authors %} \
        <option value="{{ author.id }}">{{ author.name }}</option> \
        {% endfor %} \
    </select></div>')
    });

    $('#addCategory').click(function () {
        $('#categoriesList').html($('#categoriesList').html() + '<div class="mb-3"><select class="form-select" name="bookCategory[]"> \
        <option value="0" selected>Удалить категорию</option> \
    {% for category in categories %} \
    <option value="{{ category.id }}">{{ category.name }}</option> \
    {% endfor %} \
    </select></div>')
    });
</script>
{% endblock %}
